<div class="row g-2">
    <div class="col-12 col-md-6">
        <label class="form-label">From</label>
        <InputDate class="form-control" Value="From" ValueChanged="FromChanged" />
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label">To</label>
        <InputDate class="form-control" Value="To" ValueChanged="ToChanged" />
    </div>
</div>

@code {
    [Parameter] public DateTime From { get; set; }
    [Parameter] public EventCallback<DateTime> FromChanged { get; set; }

    [Parameter] public DateTime To { get; set; }
    [Parameter] public EventCallback<DateTime> ToChanged { get; set; }
}